In [2]:
import numpy as np
import pandas as pd

### 1. Introduction

This notebook focuses on missing values within datasets.  We will use the San Francisco building permits dataset and the NFL play-by-play dataset for 2009-2016, both from Kaggle.

### 2. Check the datasets

In [6]:
# Load datasets
nfl = pd.read_csv('data/nfl_2009_2016.csv')
permits = pd.read_csv('data/Building_Permits.csv')

Let's sample from both of these and get a quick check if there are any missing values and how the datasets look:

In [7]:
# Sample from NFL
nfl.sample(5)

,Date,GameID,Drive,qtr,down,time,TimeUnder,TimeSecs,PlayTimeDiff,SideofField,...,yacEPA,Home_WP_pre,Away_WP_pre,Home_WP_post,Away_WP_post,Win_Prob,WPA,airWPA,yacWPA,Season
194113,2013-10-13,2013101301,10,3,3.0,13:49,14,1729.0,4.0,BUF,...,NaN,0.303762,0.696238,0.190070,0.809930,0.303762,-0.113692,NaN,NaN,2013
178864,2012-12-30,2012123015,4,1,4.0,00:40,1,2740.0,38.0,STL,...,NaN,0.524901,0.475099,0.548635,0.451365,0.524901,0.023735,NaN,NaN,2012
304917,2015-12-06,2015120607,17,3,NaN,04:56,5,1196.0,0.0,CAR,...,NaN,0.037887,0.962113,0.040262,0.959738,0.037887,0.002375,NaN,NaN,2015
183680,2013-09-15,2013091505,8,2,NaN,05:30,6,2130.0,40.0,HOU,...,NaN,NaN,NaN,NaN,NaN,NaN,0.000000,NaN,NaN,2013
137414,2012-09-16,2012091600,4,1,NaN,02:54,3,2874.0,4.0,NYG,...,NaN,0.590891,0.409109,0.594461,0.405539,0.409109,-0.003570,NaN,NaN,2012

In [8]:
# Sample from permits
permits.sample(5)

,Permit Number,Permit Type,Permit Type Definition,Permit Creation Date,Block,Lot,Street Number,Street Number Suffix,Street Name,Street Suffix,...,Existing Construction Type,Existing Construction Type Description,Proposed Construction Type,Proposed Construction Type Description,Site Permit,Supervisor District,Neighborhoods - Analysis Boundaries,Zipcode,Location,Record ID
140886,201610271273,8,otc alterations permit,10/27/2016,5296,031,4544,NaN,03rd,St,...,5.0,wood frame (5),5.0,wood frame (5),NaN,10.0,Bayview Hunters Point,94124.0,"(37.736721293756446, -122.39038446996267)",1442320271828
67605,201411141521,8,otc alterations permit,11/14/2014,3720,009,101,NaN,01st,St,...,NaN,NaN,NaN,NaN,NaN,6.0,Financial District/South Beach,94105.0,"(37.78985529072401, -122.39680054826306)",1362405489715
34208,201312184471,8,otc alterations permit,12/18/2013,2008,013,1726,NaN,42nd,Av,...,5.0,wood frame (5),5.0,wood frame (5),NaN,4.0,Sunset/Parkside,94122.0,"(37.754480344291494, -122.50088148955564)",1327455121628
116647,201603041285,8,otc alterations permit,03/04/2016,0834,013,171,NaN,Fell,St,...,3.0,constr type 3,3.0,constr type 3,NaN,5.0,Hayes Valley,94102.0,"(37.775948194729985, -122.42075014445375)",1414983237525
138582,M727107,8,otc alterations permit,10/03/2016,0869,033,257,NaN,Waller,St,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1439591258019

So there are quite a few missing already just from doing a random sample of both datasets.

### 3. How many are missing?

Now that we know we have at least some missing, let's check to see how many are in each column:

In [9]:
# Total missing in NFL 
nfl.isnull().sum()

Date             0
GameID           0
Drive            0
qtr              0
down         54218
             ...
Win_Prob     21993
WPA           4817
airWPA      220738
yacWPA      220956
Season           0
Length: 102, dtype: int64

In [10]:
# Total missing in permits
permits.isnull().sum()

Permit Number                                  0
Permit Type                                    0
Permit Type Definition                         0
Permit Creation Date                           0
Block                                          0
Lot                                            0
Street Number                                  0
Street Number Suffix                      196684
Street Name                                    0
Street Suffix                               2768
Unit                                      169421
Unit Suffix                               196939
Description                                  290
Current Status                                 0
Current Status Date                            0
Filed Date                                     0
Issued Date                                14940
Completed Date                            101709
First Construction Document Date           14946
Structural Notification                   191978
Number of Existing Stories                 42784
Number of Proposed Stories                 42868
Voluntary Soft-Story Retrofit             198865
Fire Only Permit                          180073
Permit Expiration Date                     51880
Estimated Cost                             38066
Revised Cost                                6066
Existing Use                               41114
Existing Units                             51538
Proposed Use                               42439
Proposed Units                             50911
Plansets                                   37309
TIDF Compliance                           198898
Existing Construction Type                 43366
Existing Construction Type Description     43366
Proposed Construction Type                 43162
Proposed Construction Type Description     43162
Site Permit                               193541
Supervisor District                         1717
Neighborhoods - Analysis Boundaries         1725
Zipcode                                     1716
Location                                    1700
Record ID                                      0
dtype: int64

So in both cases, we have numerous columns where almost the entire column contains missing data.  Let's check and see what percentage of the entire dataset is missing:

In [15]:
# Percentage missing as a fraction of total dataset for NFL
total_entries_nfl = np.product(nfl.shape)
total_missing_nfl = nfl.isnull().sum().sum()
print(f'NFL Percent missing: {(total_missing_nfl / total_entries_nfl) * 100}')

NFL Percent missing: 24.85847694188906

In [14]:
# Percentage missing as a fraction of total dataset for permits
total_entries_permits = np.product(permits.shape)
total_missing_permits = permits.isnull().sum().sum()
print(f'Permit Percent missing: {(total_missing_permits / total_entries_permits) * 100}')

Permit Percent missing: 26.26002315058403

Wow, this is a huge amount.  So now we need to take a closer look and try to figure out why so many values are missing from these datasets.

### 4. Why is the data missing?

This is the difficult part of analyzing missing values.  We will often have to use intuition and perhaps even checking each column one-by-one to determine why exactly there are missing values.  The main question we should be thinking is **"is this value missing becuase it wasn't recorded or becuase it dosen't exist?** If the value is missing because it doesn't exist, it would be pointless to try and guess what it should be, because it was probably put in on purpose to say "I don't have a value". But if the value is missing because it wasn't recorded properly, then we need to think about how to impute a value for it.  Consider the `TimeSecs` column in the NFL dataset:

In [17]:
# Missing values in TimeSecs
nfl.TimeSecs.isnull().sum()

188

Reading the documentation, this represents the number of seconds left in a game when a play was made.  So these values should always exist, but were most likely not recorded properly, so it makes sense that we impute them rather than leave them as NA.  On the other hand, a column like `PenalizedTeam`, which represents whether a team received a penalty or not, has a ton of missing values, because on most plays, a team is NOT receiving a penalty.  So even though `PenalizedTeam` has a ton of missing values, it wouldn't make sense to try and impute it since the NAs are there on purpose.  When handling a dataset like this, we are often forced to check each column in a way similar to this and think carefully about whether it makes sense or not to impute the missing values in the column, possibly remove the column, or just delete the missing value rows entirely.

### 5. Drop missing values

One option when dealing with missing values is to simply drop any row or column containing missing values.  There are tradeoffs to this option.  On the one hand, if we only have a few rows with missing values and the percentage of rows with missing values to the total number is small, it makes sense to just remove the few rows.  On the other hand, if we have have many rows with missing values, then removing the rows does not make sense, because we will delete a large portion of our data.  If we think about removing columns, it makes sense to drop columns with a large number of missing values. Let's see what happens if we remove all columns with any missing values:

In [19]:
# Remove columns with any missing value from NFL 
nfl_na_dropped = nfl.dropna(axis=1)
print(f"Columns in original dataset: {nfl.shape[1]}")
print(f"Columns with na's dropped: {nfl_na_dropped.shape[1]}")

Columns in original dataset: 102
Columns with na's dropped: 41

In [20]:
# Remove columns with any missing value from permits
permits_na_dropped = permits.dropna(axis=1)
print(f"Columns in original dataset: {permits.shape[1]}")
print(f"Columns with na's dropped: {permits_na_dropped.shape[1]}")

Columns in original dataset: 43
Columns with na's dropped: 12

So in both of these cases, we lose a huge amount of data by dropping any column with NA values.  So while this is certainly an option, it's not the preferred option in many circumstances if we are able to avoid dropping the column entirely.  It is preferable to retain as much informative data as we can vs. getting rid of anything.

### 6. Automatically filling missing values

Another option is to try and fill in the missing values. Let's see a small sub-section of the NFL dataset:

In [21]:
# Get data for EPA and Season columns
subset_nfl = nfl.loc[:, 'EPA':'Season']
subset_nfl.head()

,EPA,airEPA,yacEPA,Home_WP_pre,Away_WP_pre,Home_WP_post,Away_WP_post,Win_Prob,WPA,airWPA,yacWPA,Season
0,2.014474,NaN,NaN,0.485675,0.514325,0.546433,0.453567,0.485675,0.060758,NaN,NaN,2009
1,0.077907,-1.068169,1.146076,0.546433,0.453567,0.551088,0.448912,0.546433,0.004655,-0.032244,0.036899,2009
2,-1.402760,NaN,NaN,0.551088,0.448912,0.510793,0.489207,0.551088,-0.040295,NaN,NaN,2009
3,-1.712583,3.318841,-5.031425,0.510793,0.489207,0.461217,0.538783,0.510793,-0.049576,0.106663,-0.156239,2009
4,2.097796,NaN,NaN,0.461217,0.538783,0.558929,0.441071,0.461217,0.097712,NaN,NaN,2009

We can use the pandas `fillna()` function to fill whatever NA values we have with a desired value.  Here, we will fill the NA values with 0:

In [23]:
# Fill NA values with 0
subset_nfl.fillna(0).head()

,EPA,airEPA,yacEPA,Home_WP_pre,Away_WP_pre,Home_WP_post,Away_WP_post,Win_Prob,WPA,airWPA,yacWPA,Season
0,2.014474,0.000000,0.000000,0.485675,0.514325,0.546433,0.453567,0.485675,0.060758,0.000000,0.000000,2009
1,0.077907,-1.068169,1.146076,0.546433,0.453567,0.551088,0.448912,0.546433,0.004655,-0.032244,0.036899,2009
2,-1.402760,0.000000,0.000000,0.551088,0.448912,0.510793,0.489207,0.551088,-0.040295,0.000000,0.000000,2009
3,-1.712583,3.318841,-5.031425,0.510793,0.489207,0.461217,0.538783,0.510793,-0.049576,0.106663,-0.156239,2009
4,2.097796,0.000000,0.000000,0.461217,0.538783,0.558929,0.441071,0.461217,0.097712,0.000000,0.000000,2009

We could also replace all missing values with whatever the value is that comes after the missing value.  This might make sense in a dataset with an inherent order in the values:

In [24]:
# Fill NA values with next value in the column, then replace remaining values with 0
subset_nfl.fillna(method = 'bfill', axis=0).fillna(0).head()

,EPA,airEPA,yacEPA,Home_WP_pre,Away_WP_pre,Home_WP_post,Away_WP_post,Win_Prob,WPA,airWPA,yacWPA,Season
0,2.014474,-1.068169,1.146076,0.485675,0.514325,0.546433,0.453567,0.485675,0.060758,-0.032244,0.036899,2009
1,0.077907,-1.068169,1.146076,0.546433,0.453567,0.551088,0.448912,0.546433,0.004655,-0.032244,0.036899,2009
2,-1.402760,3.318841,-5.031425,0.551088,0.448912,0.510793,0.489207,0.551088,-0.040295,0.106663,-0.156239,2009
3,-1.712583,3.318841,-5.031425,0.510793,0.489207,0.461217,0.538783,0.510793,-0.049576,0.106663,-0.156239,2009
4,2.097796,-0.343085,0.163935,0.461217,0.538783,0.558929,0.441071,0.461217,0.097712,-0.010456,0.006029,2009

There is much more to data imputation than what we have seen here, but these are a few of the basic tricks we can use.